:root {
    // Colors
    --color-primary: #4969ed;
    --color-secondary: #24292e;
    --color-white: #ffffff;
    --color-light-grey: #f0f0f0;
    --color-grey: #d4d4d4;

    // Fonts
    --font-weight-medium: 500;

    // Z-index Layers
    --stack-layer-1: 1;
    --stack-layer-2: 2;
    --stack-layer-3: 3;
    --stack-layer-4: 4;
    --stack-layer-5: 5;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-y: scroll;
    line-height: 1.5;
}

#app {
    padding: 24px;
    min-height: 100vh;
}
